@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

body {
  background: url('./images/holo2.jpg') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font: 400 0.875em/1.38 Ubuntu;
  color: #000000;
}
