.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    width: 268px;
    margin: auto;
    background-color: #fa824c;
    border-radius: 25px;
    text-align: center;
    padding: 0px;
}

#root div {
    width: 100px;
    display: inline-block;
    font-size: 16px;
}

#root input {

}

#root label {
    text-align: left;
    font-size: 15px;
}

#root #AccountTypeInput {
    margin: auto;
    width: 268px;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
}
