@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

#root {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    width: 268px;
    margin: auto;
    background-color: #fa824c;
    border-radius: 25px;
    text-align: center;
    padding: 0px;
}

#root div {
    width: 100px;
    display: inline-block;
    font-size: 16px;
}

#root input {

}

#root label {
    text-align: left;
    font-size: 15px;
}

#root #AccountTypeInput {
    margin: auto;
    width: 268px;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
}