@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

#root {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #384452;
    width: 268px;
    margin: auto;
    /*background-color: #fa824c;*/
    border-radius: 25px;
    text-align: center;
    padding: 0px;
}

#root div {
    width: 100px;
    display: block;
    font-size: 16px;
}

#root input {
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #778899;
    border-left: none;
    color: #384452;
    font-size: 18px;
    padding: 5px 14px;
}

#root label {
    text-align: left;
    font-size: 15px;
    padding: 20px 20px;
}

#root #AccountTypeInput {
    margin: auto;
    width: 268px;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}